body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #ffffff;
    background-color: #ffffff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}