body {
    background: #f2f2f2;
}

h1, h2, h3, p, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
    min-width: 720px;
    background: #ffffff;
}

.marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

.conteudo {
    width: 75%;
    float: right;
}

.conteudo-principal {
    width: 64%;
    float: left;
    text-align: justify;
}

.conteudo-secundario {
    width: 33%;
    float: right;
    background: #d1d1d1;
    text-align: justify;
}

.conteudo-secundario h1, 
.conteudo-secundario h2,
.conteudo-secundario h3,
.conteudo-secundario p {
    padding: 0 20px;
}

.navegacao {
    width: 23%;
    float: left;
    padding: 20px 0;
    background: #d1d1d1;
}

.navegacao ul {
    list-style-type: none;
}

.navegacao li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.navegacao li a:hover {
    color: #00000036;
}

.rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}