body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caixa {
    width: 400px;
    background: #dedede url(../img/fundo-arredondamento.png) repeat-y;
}

.caixa h2 {
    padding: 10px 20px 0 20px;
    background: url(../img/topo2.png) no-repeat left top;
}

.caixa p {
    padding: 0 20px;
    margin-bottom: 0;
}

.caixa .ultimo {
    background: url(../img/baixo2.png) no-repeat left bottom;
    width: 400px;
    height: 24px;
}